<footer class="footer" style  = 'background-color: #10406F'>
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <a class = 'footer__left-logo' href="#"><img src="../../img/svg/css/footerlogo.svg" alt="Dental Tooth"></a>
        <div class="footer__left-info">
          <div class="footer__left-info-item">
            <span class="footer__left-info-item-icon">
              <img src="../../img/svg/css/location.svg" alt="Location">
              </span>
            <span>ул. Протопского 28А город Алматы</span>
            </div>
            <div class="footer__left-info-item">
            <span class="footer__left-info-item-icon">
              <img src="../../img/svg/css/phone.svg" alt="Phone">
              </span>
            <span>+7 (777) 654 44 54</span>
            </div>
            <div class="footer__left-info-item">
            <span class="footer__left-info-item-icon">
              <img src="../../img/svg/css/envelope.svg" alt="Email">
              </span>
            <span>info@dentaltooth.kz</span>
            </div>
            </div>
            <div class="footer__socials">
              <a href="#" class="footer__socials-link">
                <img src="../../img/svg/css/twitter.svg" alt="Twitter">
              </a>
              <a href="#" class="footer__socials-link">
                <img src="../../img/svg/css/instagram.svg" alt="Instagram">
              </a>
              <a href="#" class="footer__socials-link">
                <img src="../../img/svg/css/vk.svg" alt="VK">
              </a>
            </div>
            </div>
            <div class="footer__right">
        <div class="footer__right-menu">
          <div class="footer__right-menu-title">Наши услуги</div>
        <ul>
          <li><a href="#">Отбеливание зубов</a></li>
          <li><a href="#">Лечение десен</a></li>
          <li><a href="#">Апноэ во сне</a></li>
          <li><a href="#">Реставрации</a></li>
          <li><a href="#">Дизайн улыбки</a></li>
          <li><a href="#">Корневой канал</a></li>
          <li><a href="#">Имплантационная стоматология</a></li>
          <li><a href="#">Сознательная седация</a></li>
          <li><a href="#">Ортодонтия</a></li>
        </ul>
        </div>
        <div class="footer__right-menu">
          <div class="footer__right-menu-title">Наши стоматологи</div>
        <ul>
          <li><a href="#">John Doe</a></li>
          <li><a href="#">Evan Krak</a></li>
          <li><a href="#">Sophia Green</a></li>
          <li><a href="#">Maria Delfina</a></li>
        </ul>
        </div>
        <div class="footer__right-menu">
          <div class="footer__right-menu-title">Часы работы</div>
        <ul>
          <li><span>Понедельник: 8:30 - 9:00</span></li>
          <li><span>Вторник: 8:00 - 9:00</span></li>
          <li><span>Среда: 8:00 - 9:00</span></li>
          <li><span>Четверг: 8:30 - 9:00</span></li>
          <li><span>Пятница: 10:00 - 4:00</span></li>
          <li><span>Суббота: выходной</span></li>
          <li><span>Воскресенье: Закрыто</span></li>
        </ul>
        </div>
            </div>
    </div>
  </div>
  <div class="footer__copyright">
    2022 © Dental Tooth Все права защищены
  </div>
</footer>
