<header class="header">
 <div class="header__top">
  <div class="container">
    <div class="header__top-row">
      <div class="header__top-location">
        <img class = "header__top-location-img" src="../../img/svg/css/location.svg" alt="Адрес">
        <span>ул. Протопского 28А город Алматы</span>
      </div>
      <div class="header__top-right">
       <a href="tel:77776544454" class="header__top-phone">
        <img src="../../img/svg/css/phone.svg" alt="Телефон" class="header__top-phone-img">
        <span>+7 (777) 654 44 54</span>
       </a>
       <a href="mailto:info@dentaltooth.kz" class="header__top-mail">
        <img src="../../img/svg/css/envelope.svg" alt="Почта" class="header__top-mail-img">
        <span>info@dentaltooth.kz</span>
       </a>
       <div class="header__top-social">
        <a href="#" class="header__top-social-link">
          <img src="../../img/svg/css/twitter.svg" alt="Twitter">
        </a>
        <a href="#" class="header__top-social-link">
          <img src="../../img/svg/css/instagram.svg" alt="Instagram">
        </a>
        <a href="#" class="header__top-social-link">
          <img src="../../img/svg/css/vk.svg" alt="VK">
        </a>
       </div>
      </div>
      <div class="header__hamburger">
        <img src="../../img/svg/css/hamburger.svg" alt="Hamburger">
      </div>
    </div>
  </div>
 </div>
 <div class="header__bottom">
  <div class="container">
    <div class="header__bottom-row">
  <a href="../../index.html" class="header__bottom-logo">
    <img src="../../img/svg/css/Logo.svg" alt="Dental Tooth">
  </a>
  <div class="header__bottom-nav">
<ul>
  <li><a href="../../index.html">Главная</a></li>
  <li><a href="../../index.html#about">Услуги</a></li>
  <li><a href="../../index.html#specialists">Наши специалисты</a></li>
  <li><a href="../../index.html#comments">Отзывы</a></li>
  <li><a href="../../blog.html">Блог</a></li>
  <li><a href="../../contacts.html">Контакты</a></li>
</ul>
  </div>
  <a href="#callback-popup" class="header__bottom-btn" data-effect="mfp-zoom-in">Получить консультацию</a>
 </div>
 </div>
 </div>
 <div class="header__mobile-menu">
  <div class="header__mobile-menu-header">
    <div class="header__mobile-menu-title">
      Меню
    </div>
    <div>
      <img class="header__mobile-menu-close" src="../../img/svg/css/cross.svg" alt="Закрыть">
    </div> 
  </div>
  <div class="header__mobile-menu-body">
      <a href="tel:77776544454" class="header__top-phone">
       <img src="../../img/svg/css/phone.svg" alt="Телефон" class="header__top-phone-img">
       <span>+7 (777) 654 44 54</span>
      </a>
      <a href="mailto:info@dentaltooth.kz" class="header__top-mail">
       <img src="../../img/svg/css/envelope.svg" alt="Телефон" class="header__top-mail-img">
       <span>info@dentaltooth.kz</span>
      </a>
      <div class="header__top-social">
       <a href="#" class="header__top-social-link">
         <img src="../../img/svg/css/twitter.svg" alt="Twitter">
       </a>
       <a href="#" class="header__top-social-link">
         <img src="../../img/svg/css/instagram.svg" alt="Instagram">
       </a>
       <a href="#" class="header__top-social-link">
         <img src="../../img/svg/css/vk.svg" alt="VK">
       </a>
      </div>
      <div class="header__mobile-menu-nav">
        <ul>
          <li><a class = 'header__mobile-menu-nav-link' href="../../index.html">Главная</a></li>
          <li><a class = 'header__mobile-menu-nav-link' href="../../index.html#about">Услуги</a></li>
          <li><a class = 'header__mobile-menu-nav-link' href="../../index.html#specialists">Наши специалисты</a></li>
          <li><a class = 'header__mobile-menu-nav-link' href="../../index.html#comments">Отзывы</a></li>
          <li><a class = 'header__mobile-menu-nav-link' href="../../blog.html">Блог</a></li>
          <li><a class = 'header__mobile-menu-nav-link' href="../../contacts.html">Контакты</a></li>
        </ul>
          </div>
  </div>
 </div>
</header>
