<section class="about" id="about">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__left">
        <img src="../../img/aboutus.png" alt="Изображение">
      </div>
      <div class="about__right">
        <h2 class="about__right-title">Стоматологическая клиника<br>
          <span class = 'about__right-title-bold'>Dental Tooth</span></h2>
      <div class="about__right-desc">
        Мы предлагаем широкий спектр стоматологических услуг в общей клинике. Вам будет предоставлен комплексный план лечения до начала любых стоматологических услуг. Чтобы записаться на прием или узнать больше об услугах, доступных в стоматологической клинике, пожалуйста, позвоните по телефону
      </div>
      <div class="about__right-list">
<div class="about__right-list-title">
  Мы предлагаем услуги:
</div>
<ul>
  <li>Отбеливание зубов</li>
  <li>Апноэ во сне</li>
  <li>Лечение десен</li>
  <li>Дизайн улыбки</li>
</ul>
      </div>
        </div>
    </div>
  </div>
</section>