<section class="banner">
  <div class="conteiner">
    <div class="banner__wrapper">
      <div class="banner__left">
        <div class="banner__left-subtitle">
          Стоматологическая клиника Dental Tooth
        </div>
        <h1 class="banner__left-title">Безболезненное 
          лечение зубов</h1>
          <div class="banner__left-descript">
            Талантливая команда стоматологов, признанных за<br> высокое качество стоматологических процедур.
          </div>
          <div class="banner__left-btn">
            <a href="#form">Записаться на прием</a>
          </div>
      </div>
      <div class="banner__right">
        <img class='banner__right-img' src="./src/img/banner.png" alt="Dentist">
        <img class="banner__right-logo" src="./src/img/svg/css/banner2.svg" alt="Banner Logo">
        <span class="banner__rigt-circle"></span>
      
      </div>
    </div>
  </div>
  </section>