<section class="comments" style="background-image:url(./src/img/comments1.jpg)" id="comments">
  <div class="container">
    <div class="comments__wrapper">
      <h2 class="comments__title">Что говорят наши клиенты</h2>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="comments__row">
              <div class="comments__avatar">
                <img src="./src/img/comments2.jpg" alt="Avatar">
              </div>
              <div class="comments__content">
                <div class="comments__text">
                  Отличная стоматология. Заболел зуб. Обратился в эту стоматологию. Качество обслуживания на высшем уровне. Сделали отбеливание зубов. Все отлично. Однозначно рекомендую.
                </div>
                <div class="comments__bottom">
                  <div class="comments__name">
                    Алина Беляева
                  </div>
                  <div class="comments__socials">
                    <a href="#">
                      <img src="./src/img/svg/css/TwitterBlack.svg" alt="Twitter">
                    </a>
                    <a href="#">
                      <img src="./src/img/svg/css/BlackVk.svg" alt="VK">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="comments__row">
              <div class="comments__avatar">
                <img src="./src/img/comments2.jpg" alt="Avatar">
              </div>
              <div class="comments__content">
                <div class="comments__text">
                  Отличная стоматология. Заболел зуб. Обратился в эту стоматологию. Качество обслуживания на высшем уровне. Сделали отбеливание зубов. Все отлично. Однозначно рекомендую.
                </div>
                <div class="comments__bottom">
                  <div class="comments__name">
                    Алина Беляева
                  </div>
                  <div class="comments__socials">
                    <a href="#">
                      <img src="./src/img/svg/css/TwitterBlack.svg" alt="Twitter">
                    </a>
                    <a href="#">
                      <img src="./src/img/svg/css/BlackVk.svg" alt="VK">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="comments__row">
              <div class="comments__avatar">
                <img src="./src/img/comments2.jpg" alt="Avatar">
              </div>
              <div class="comments__content">
                <div class="comments__text">
                  Отличная стоматология. Заболел зуб. Обратился в эту стоматологию. Качество обслуживания на высшем уровне. Сделали отбеливание зубов. Все отлично. Однозначно рекомендую.
                </div>
                <div class="comments__bottom">
                  <div class="comments__name">
                    Алина Беляева
                  </div>
                  <div class="comments__socials">
                    <a href="#">
                      <img src="./src/img/svg/css/TwitterBlack.svg" alt="Twitter">
                    </a>
                    <a href="#">
                      <img src="./src/img/svg/css/BlackVk.svg" alt="VK">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div> 
  </div>
  </section>