<section class="features">
  <div class="container">
    <div class="features__wrapper">
      <div class="features__item">
        <div class="features__item-icon">
          <img src="../../img/svg/css/Time.svg" alt="Круглосуточная поддержка клиентов">
        </div>
<div class="features__item-title">
  Круглосуточная<br>поддержка клиентов
</div>
<div class="features__item-desc">
  Чтобы записаться на прием или узнать больше об услугах, доступных 
</div>
      </div>
      <div class="features__item">
        <div class="features__item-icon">
          <img src="../../img/svg/css/Avialable.svg" alt="Доступная стоматологическая помощь">
        </div>
<div class="features__item-title">
  Доступная стоматологическая помощь
</div>
<div class="features__item-desc">
  Чтобы записаться на прием или узнать больше об услугах, доступных 
</div>
      </div> 
      <div class="features__item">
        <div class="features__item-icon">
          <img src="../../img/svg/css/Team.svg" alt="Команда талантливых врачей">
        </div>
<div class="features__item-title">
  Команда талантливых врачей
</div>
<div class="features__item-desc">
  Чтобы записаться на прием или узнать больше об услугах, доступных 
</div>
      </div>
    </div>
  </div>
</section>