<section class="form" id="form">
  <div class="container">
    <div class="form-row">
      <div class="form__wrapper">
        <h3 class="form__title">
          Записаться на прием
        </h3>
        <form class="wpcf7-form init">
          <p><span class="wpcf7-form-control-wrap"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" placeholder="Ваше имя" type="text"></span></p>
          <p><span class="wpcf7-form-control-wrap"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-phonemask" placeholder="Ваш телефон" type="text" name="phone"></span></p>
          <p><input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="Записаться на прием"><span class="wpcf7-spinner"></span></p>
        </form>
        <div class="form__text">
          Нажимая кнопку, я даю свое согласие на обработку моих персональных данных
        </div>
      </div>
      <div class="form__img">
        <img src="../../img/form.png" alt="Записаться на прием">
      </div>
    </div>
  </div>
</section>