<section class="news">
  <div class="container">
    <h2 class="news__title">
      Новости Dental Tooth
    </h2>
    <div class="news__wrapper">
      <div class="news__item">
        <div class="news__item-img">
          <img src="../../img/news1.jpg" alt="Что стоматолог может сделать для ваших зубов">
        </div>
        <div class="news__item-body">
        <div class="news__item-info">
          <div class="news__item-date">
            05 ноября 2022 
          </div>
          <div class="news__item-comment">
            <strong>0</strong> комментариев
          </div>
        </div>
        
          <h3 class="news__item-smalltitle">Что стоматолог может сделать для ваших зубов</h3>
          <div class="news__item-desc">
            Если они были измотаны, то и боль, и таблетку, и саму подушку, и саму боль надо беречь, в следующий раз ...
          </div>
        
        <div class="news__item-btn">
          <a href="../../blog-single.html">Читать далее</a>
        </div>
        </div>
      </div>
      <div class="news__item">
        <div class="news__item-img">
          <img src="../../img/news2.jpg" alt="Как выбрать стоматологию и не ошибиться?">
        </div>
        <div class="news__item-body">
        <div class="news__item-info">
          <div class="news__item-date">
            05 ноября 2022 
          </div>
          <div class="news__item-comment">
            <strong>0</strong> комментариев
          </div>
        </div>
        
          <h3 class="news__item-smalltitle">Как выбрать стоматологию и не ошибиться?</h3>
          <div class="news__item-desc">
            Безусловно, существующая теория позволяет выполнить важные задания по разработке благоприятных перспектив...
          </div>
        
        <div class="news__item-btn">
          <a href="../../blog-single.html">Читать далее</a>
        </div>
        </div>
      </div>
      <div class="news__item">
        <div class="news__item-img">
          <img src="../../img/news3.jpg" alt="Сильно болит зуб? Лечение в домашних условиях">
        </div>
        <div class="news__item-body">
        <div class="news__item-info">
          <div class="news__item-date">
            05 ноября 2022 
          </div>
          <div class="news__item-comment">
            <strong>0</strong> комментариев
          </div>
        </div>
        
          <h3 class="news__item-smalltitle">Сильно болит зуб? Лечение в домашних условиях</h3>
          <div class="news__item-desc">
            Учитывая ключевые сценарии поведения, выбранный нами инновационный путь напрямую зависит от поставленных...
          </div>
        
        <div class="news__item-btn">
          <a href="../../blog-single.html">Читать далее</a>
        </div>
        </div>
      </div>
      <div class="news__item">
        <div class="news__item-img">
          <img src="../../img/news4.jpg" alt="Как спасти тетрациклиновые зубы?">
        </div>
        <div class="news__item-body">
        <div class="news__item-info">
          <div class="news__item-date">
            05 ноября 2022 
          </div>
          <div class="news__item-comment">
            <strong>0</strong> комментариев
          </div>
        </div>
        
          <h3 class="news__item-smalltitle">Как спасти тетрациклиновые зубы?</h3>
          <div class="news__item-desc">
            Но новая модель организационной деятельности прекрасно подходит для реализации распределения...
          </div>
        
        <div class="news__item-btn">
          <a href="../../blog-single.html">Читать далее</a>
        </div>
        </div>
      </div>
      <div class="news__item">
        <div class="news__item-img">
          <img src="../../img/news5.jpg" alt="Как правильно чистить зубы? 15 советов">
        </div>
        <div class="news__item-body">
        <div class="news__item-info">
          <div class="news__item-date">
            05 ноября 2022 
          </div>
          <div class="news__item-comment">
            <strong>0</strong> комментариев
          </div>
        </div>
        
          <h3 class="news__item-smalltitle">Как правильно чистить зубы? 15 советов</h3>
          <div class="news__item-desc">
            Неопровержимые выводы, а также акционеры крупнейших компаний являются только методом...
          </div>
        
        <div class="news__item-btn">
          <a href="../../blog-single.html">Читать далее</a>
        </div>
        </div>
      </div>
      <div class="news__item">
        <div class="news__item-img">
          <img src="../../img/news1.jpg" alt="Все что Вы хотели узнать про сознательную седацию">
        </div>
        <div class="news__item-body">
        <div class="news__item-info">
          <div class="news__item-date">
            05 ноября 2022 
          </div>
          <div class="news__item-comment">
            <strong>0</strong> комментариев
          </div>
        </div>
        
          <h3 class="news__item-smalltitle">Все что Вы хотели узнать про сознательную седацию</h3>
          <div class="news__item-desc">
            Тщательные исследования конкурентов функционально разнесены на независимые элементы...
          </div>
        
        <div class="news__item-btn">
          <a href="../../blog-single.html">Читать далее</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>