<section class="price">
  <div class="container">
    <div class="price__wrapper">
      <div class="price__title-wrapper">
        <h2 class="price__title">
          Стоимость лечения от
        </h2>
        <div class="price__desc">
          Доступные цены на каждую процедуру
        </div>
        </div>
        <ul class="price__list">
          <li>
            <span>Отбеливание зубов</span>
            <span>120$</span>
          </li>
          <li>
            <span>Реставрации</span>
            <span>200$</span>
          </li>
          <li>
            <span>Имплантационная стоматология</span>
            <span>80$</span>
          </li>
          <li>
            <span>Лечение десен</span>
            <span>150$</span>
          </li>
          <li>
            <span>Дизайн улыбки</span>
            <span>160$</span>
          </li>
          <li>
            <span>Сознательная седация</span>
            <span>200$</span>
          </li>
          <li>
            <span>Апноэ во сне</span>
            <span>150$</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>