<section class="specialists" id="specialists">
  <div class="container">
    <div class="specialists__text">
      <h2 class="specialists__title">
        Наши специалисты
      </h2>
      <div class="specialists__desc">
        Мы построили нашу стоматологию на прочных опорах 22 хирургов MDS. В нашей команде работают опытные специалисты с многолетним опытом работы.
    </div>
    </div>
    <div class="specialists__wrapper">
      <a href="./src/dantist.html" class="specialists__item">
<div class="specialists__item-img">
  <img src="./src/img/specialist1.png" alt="Игорь Протопский">
</div>
<div class="specialists__item-footer">
  <div class="specialists__item-name">
    Игорь Протопский
  </div>
  <div class="specialists__item-profy">
    Стоматолог
  </div>
</div>

      </a>
      <a href="./src/dantist.html" class="specialists__item">
        <div class="specialists__item-img">
          <img src="./src/img/specialist2.png" alt="Олег Григоревич">
        </div>
        <div class="specialists__item-footer">
          <div class="specialists__item-name">
            Олег Григоревич
          </div>
          <div class="specialists__item-profy">
            Стоматолог
          </div>
        </div>
              </a>
              <a href="./src/dantist.html" class="specialists__item">
                <div class="specialists__item-img">
                  <img src="./src/img/specialist3.png" alt="София Грин">
                </div>
                <div class="specialists__item-footer">
                  <div class="specialists__item-name">
                    София Грин
                  </div>
                  <div class="specialists__item-profy">
                    Стоматолог
                  </div>
                </div>              
                      </a>
                      <a href="./src/dantist.html" class="specialists__item">
                        <div class="specialists__item-img">
                          <img src="./src/img/specialist4.png" alt="Мария Александровна">
                        </div>
                        <div class="specialists__item-footer">
                          <div class="specialists__item-name">
                            Мария Александровна
                          </div>
                          <div class="specialists__item-profy">
                            Стоматолог
                          </div>
                        </div>    
                              </a>
    </div>
  </div>
</section>