.breadcrumbs {
  ul {
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    li {
      display: inline-block;
    }
  }
  a {
    display: flex;
    align-items: center;
    img {
      vertical-align: middle;
      width: 20px;
      height: 20px;
    margin-right: 10px;
    }
  }
  font-family: 'Source Sans Pro';
  font-size: 18px;
  line-height: 23px;
  a {
    color: #302D2D;
  }
  background-color: #DFEEFC;
  padding: 25px 0;
  text-align: center;
}

.news__wrapper.blog {
padding: 50px 0;
@media screen and (max-width:992px){
  overflow-x: hidden;
  grid-auto-flow: row;
  grid-template-columns: repeat(2,1fr);
}
@media screen and (max-width:575px){

  grid-template-columns: 1fr;
}
.news__item {
  @media screen and (max-width:992px){
   min-width: auto;
  }
}
}

